
/* responsive style mobile start*/
@media screen and (max-width:570px) {
    /* nav bar start  */
    nav {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        max-width: 460px;
        margin: 35px auto 0 auto;
    }
    .header-title {
        font-size: 1rem;
    }
    nav>.nav-bar>ul {
        gap:8px;
    }
    nav .nav-bar ul li i {
        font-size: 1rem;
    }
    .nav-bar ul li {
        font-size: 0.8rem;
    }
    .nav-bar ul li img {
        height: 1.5rem;
        width: 1.5rem;
    }
    /* hero section start */
    .hero-container {
        max-width: 460px;
        flex-direction: column-reverse;
        padding-bottom: 53px;
    }
    .hero {
        max-width: 460px;
        margin-top: 30px;
    }
    .hero-title {
        font-size: 1.75rem;
        text-align: center;
    }
    .hero-description {
        text-align: center;
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 1rem;
    }
    .hero-btn {
        margin: 0 auto;
    }
    .prebook-btn {
        font-weight: 500;
    }
    .hero-btn:hover {
        background-color: #9e9e1f;
    }
    .hero-img{
      margin-top: 25px;
    }
    .hero-img img{
      height: 202px;
      width: 190px;
    }


    .products-cards{
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        gap: 20px;
    }
}
/* responsive style mobile end*/
/* responsive style tablet start*/

/* responsive style tablet end*/